In [18]:
# Dependencies
import pandas as pd
from sklearn.linear_model import LinearRegression

In [19]:
df = pd.read_csv('data/regression_data/time_series.csv')
df.head()

,house_id,date,time,house_sqft,delta-temp-celsius,load-3,load-2,load-now,size_small,size_med,size_large,trees,dryer,washer,people_present,total-energy
0,1,1,3,780,-2.222222,6.843333,7.010000,7.176667,1,0,0,1,0,0,1,16.173152
1,1,1,4,780,-2.222222,7.010000,7.176667,7.176667,1,0,0,1,0,0,1,16.173152
2,1,1,5,780,-2.777778,7.176667,7.176667,7.343333,1,0,0,1,0,0,1,16.006485
3,1,1,6,780,-2.777778,7.176667,7.343333,7.343333,1,0,0,1,0,1,1,15.506485
4,1,1,7,780,-3.333333,7.343333,7.343333,7.510000,1,0,0,1,1,1,1,11.339819

In [20]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [house_id, date, time, house_sqft, delta-temp-celsius, load-3, load-2, load-now, size_small, size_med, size_large, trees, dryer, washer, people_present, total-energy]
Index: []

In [21]:
list(df.columns)

['house_id',
 'date',
 'time',
 'house_sqft',
 'delta-temp-celsius',
 'load-3',
 'load-2',
 'load-now',
 'size_small',
 'size_med',
 'size_large',
 'trees',
 'dryer',
 'washer',
 'people_present',
 'total-energy']

In [22]:
X = df[['load-now',
     'size_small',
     'size_med',
     'size_large',
     'trees',
     'dryer',
     'washer',
     'people_present']]

In [23]:
y = df['total-energy']

In [24]:
reg = LinearRegression().fit(X, y)

In [25]:
reg.score(X, y)

0.9766994326387345

In [42]:
[print(f"{list(X.columns)[k]:<20} {v}") for k,v in enumerate(list(reg.coef_))]

load-now             -1.000838147670525
size_small           -3.063543404152788
size_med             -2.6907961168561227
size_large           5.754339521008909
trees                -3.0635434041527816
dryer                -1.986053594253725
washer               -2.411088518823401
people_present       -0.11923010916240702

[None, None, None, None, None, None, None, None]

In [43]:
reg.intercept_

29.653727746395973