In [1]:
# Dependencies
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
import matplotlib.pyplot as plt

In [2]:
# import synthetic data
df = pd.read_csv('data/regression_data/time-series.csv')
df.head()

,house_id,date,time,external_temp,temp-celsius,temp-load-2,temp-load-1,temp-load,house_sqft,trees,dryer,washer,people_present,total-energy
0,1,1,1,30,-1.111111,1.186178,1.186178,1.186178,780,1,0,0,1,1.359444
1,1,1,2,29,-1.666667,1.186178,1.186178,1.215067,780,1,0,0,1,1.388333
2,1,1,3,28,-2.222222,1.186178,1.215067,1.243956,780,1,0,0,1,1.417222
3,1,1,4,28,-2.222222,1.215067,1.243956,1.243956,780,1,0,0,1,1.407593
4,1,1,5,27,-2.777778,1.243956,1.243956,1.272844,780,1,0,0,1,1.426852

In [3]:
X = df[['temp-load-2', 
        'temp-load-1',
        'temp-load',
        'house_sqft',
        'trees',
        'dryer',
        'washer',
        'people_present']]

y = df['total-energy']

In [4]:
# create OLS model
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.9998825071563934

In [5]:
# create OLS model
reg = Lasso().fit(X, y)
reg.score(X, y)

0.36079716473673895

In [6]:
# create OLS model
reg = Ridge().fit(X, y)
reg.score(X, y)

0.9960372411110554