## MultiRegression with Time Dependency  

The temp load features (temp-load, temp-load-1, temp-load-2) allow the model to learn from the historical temperature load values.  The columns act as a lag where load from two prior time frames is called (temp-load-2) and similarly a lag where the load from one prior time frame is called (temp-load-1).

In [1]:
# Dependencies
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/regression_data/time-series.csv')
df.head()

,house_id,date,time,external_temp,temp-celsius,temp-load-2,temp-load-1,temp-load,house_sqft,trees,dryer,washer,people_present,total-energy
0,1,1,1,30,-1.111111,1.186178,1.186178,1.186178,780,1,0,0,1,1.359444
1,1,1,2,29,-1.666667,1.186178,1.186178,1.215067,780,1,0,0,1,1.388333
2,1,1,3,28,-2.222222,1.186178,1.215067,1.243956,780,1,0,0,1,1.417222
3,1,1,4,28,-2.222222,1.215067,1.243956,1.243956,780,1,0,0,1,1.407593
4,1,1,5,27,-2.777778,1.243956,1.243956,1.272844,780,1,0,0,1,1.426852

In [4]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [house_id, date, time, external_temp, temp-celsius, temp-load-2, temp-load-1, temp-load, house_sqft, trees, dryer, washer, people_present, total-energy]
Index: []

In [5]:
list(df.columns)

['house_id',
 'date',
 'time',
 'external_temp',
 'temp-celsius',
 'temp-load-2',
 'temp-load-1',
 'temp-load',
 'house_sqft',
 'trees',
 'dryer',
 'washer',
 'people_present',
 'total-energy']

In [7]:
X = df[['temp-load-2', 
        'temp-load-1',
        'temp-load',
        'house_sqft',
        'trees',
        'dryer',
        'washer',
        'people_present']]

In [8]:
y = df['total-energy']

In [9]:
reg = LinearRegression().fit(X, y)

In [10]:
reg.score(X, y)

0.9998825071563934

In [13]:
[print(f"{list(X.columns)[k]:<20} {round(v,3)}") for k,v in enumerate(list(reg.coef_))]

temp-load-2          0.23
temp-load-1          0.394
temp-load            0.373
house_sqft           0.001
trees                -1.002
dryer                4.0
washer               0.497
people_present       0.199

[None, None, None, None, None, None, None, None]

In [14]:
round(reg.intercept_,3)

0.002

### Summary
- Based on how the data set was generated, these coeffients make sense.