In [ ]:
# Test datasets for Regression
- Generate basic regression datasets for analyzing regression techniques

In [1]:
# Dependencies
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression, make_sparse_uncorrelated

### All Correlated Dataset of 6 Features

From documentation:
- make_regression produces regression targets as an optionally-sparse random linear combination of random features, with noise. Its informative features may be uncorrelated, or low rank (few features account for most of the variance).

In [2]:
# create data set of 6 features that are significant to the regression
# excluding first 4 terms, all other terms are defaults; listed for clarity
X,y,coef = make_regression(n_samples=200, 
                           n_features=6, 
                           n_informative=6, 
                           coef=True,
                           n_targets=1, 
                           bias=0, 
                           effective_rank=None, 
                           noise=0, 
                           random_state=42)

In [3]:
coef

array([95.14033422, 63.31513756, 60.16118201, 81.91888594, 88.42064633,
        4.34125329])

In [4]:
print("X shape", X.shape)
print("y shape", y.shape)

X shape (200, 6)
y shape (200,)

In [5]:
print("X row shape", X[0].shape)

X row shape (6,)

In [6]:
print("y shape", (np.array([y]).T).shape)

y shape (200, 1)

In [7]:
data = np.concatenate((X,np.array([y]).T), axis=1)

In [8]:
df = pd.DataFrame(data, columns=['meaningful_1','meaningful_2','meaningful_3', 'meaningful_4', 'meaningful_5', 'meaningful_6', 'target'])
df.head()

,meaningful_1,meaningful_2,meaningful_3,meaningful_4,meaningful_5,meaningful_6,target
0,-1.236951,0.781823,-1.320457,0.521942,0.296985,0.259883,-77.478247
1,-0.241236,0.243339,0.352055,-1.251539,1.443765,-0.045586,38.571844
2,0.963376,-0.820682,0.412781,0.822060,1.896793,1.158596,304.615372
3,-0.240325,0.712998,-0.374821,0.710960,0.444263,-1.222128,91.946823
4,-0.024355,-0.573700,2.142270,1.727543,0.436324,0.522835,272.608712

In [10]:
df.to_csv('regression_data/all-correlated-6-features.csv', index=False)

### 4 Correlated and 2 Uncorrelated Linear Features

In [11]:
# create data set of 6 features with 4 significant and 2 useless
X,y,coef = make_regression(n_samples=200, 
                           n_features=6, 
                           n_informative=4, 
                           coef=True,
                           n_targets=1, 
                           bias=0, 
                           effective_rank=4, 
                           tail_strength=0.5,
                           noise=0, 
                           random_state=42)

In [12]:
data = np.concatenate((X,np.array([y]).T), axis=1)

In [13]:
df = pd.DataFrame(data, columns=['meaningful_1','meaningful_2','meaningful_3', 'meaningful_4', 'unrelated_1', 'unrelated_2', 'target'])
df.head()

,meaningful_1,meaningful_2,meaningful_3,meaningful_4,unrelated_1,unrelated_2,target
0,-0.114070,0.055827,0.049792,-0.014761,-0.027299,-0.007287,0.163435
1,-0.037493,-0.059537,0.009000,0.005654,0.036818,0.057861,3.625903
2,-0.015487,0.062475,-0.032665,0.010558,-0.070207,-0.078827,-7.482244
3,0.026067,0.032296,-0.075725,0.013712,0.063807,-0.063561,4.828345
4,-0.009825,0.035543,-0.033790,-0.026442,-0.023761,0.139320,8.710039

In [14]:
df.to_csv('regression_data/4-correlated-6-features.csv', index=False)

### 4 Correlated and 2 Uncorrelated Linear Features

From documentation
- Generate a random regression problem with sparse uncorrelated design.

In [15]:
# the first 4 coefficients are [0,2,-2,-1.5], the remaining are usesless.
X,y = make_sparse_uncorrelated(n_samples=200, 
                               n_features=6, 
                               random_state=42)

In [16]:
data = np.concatenate((X,np.array([y]).T), axis=1)

In [17]:
df = pd.DataFrame(data, columns=['meaningful_1','meaningful_2','meaningful_3', 'meaningful_4', 'unrelated_1', 'unrelated_2', 'target'])
df.head()

,meaningful_1,meaningful_2,meaningful_3,meaningful_4,unrelated_1,unrelated_2,target
0,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,-3.234512
1,1.579213,0.767435,-0.469474,0.542560,-0.463418,-0.465730,2.809785
2,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,0.830966
3,-0.908024,-1.412304,1.465649,-0.225776,0.067528,-1.424748,-5.781967
4,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,1.464763

In [19]:
df.to_csv('regression_data/4-correlated-6-features-sparse.csv', index=False)

In [ ]:
# Regression data with categorical data

In [2]:
X,y,coef = make_regression(n_samples=200, 
                           n_features=6, 
                           n_informative=6, 
                           coef=True,
                           n_targets=1, 
                           bias=0, 
                           effective_rank=None, 
                           noise=0, 
                           random_state=42)

In [5]:
# creating the dataframe
column_values=['X1','X2','X3','X4','X5','X6']
df = pd.DataFrame(data = X,  
                  columns = column_values)

df.head()

         X1        X2        X3        X4        X5        X6
0 -1.236951  0.781823 -1.320457  0.521942  0.296985  0.259883
1 -0.241236  0.243339  0.352055 -1.251539  1.443765 -0.045586
2  0.963376 -0.820682  0.412781  0.822060  1.896793  1.158596
3 -0.240325  0.712998 -0.374821  0.710960  0.444263 -1.222128
4 -0.024355 -0.573700  2.142270  1.727543  0.436324  0.522835

In [6]:
df.describe()

               X1          X2          X3          X4          X5          X6
count  200.000000  200.000000  200.000000  200.000000  200.000000  200.000000
mean     0.010974   -0.048585   -0.010561   -0.015709    0.144399    0.149776
std      0.991795    0.983657    0.968932    1.017910    1.068094    0.884078
min     -2.650970   -2.041735   -2.896255   -3.241267   -2.848543   -2.081929
25%     -0.658570   -0.811394   -0.687282   -0.634061   -0.523584   -0.481741
50%      0.049273   -0.073637    0.047549    0.008269    0.119669    0.148998
75%      0.659715    0.688590    0.578226    0.647623    0.849757    0.639728
max      2.445752    2.455300    2.290943    3.078881    3.852731    2.573360

In [9]:
df['X6_binned'] = pd.qcut(df['X6'],
                           q=4,
                           labels=['A', 'B', 'C', 'D'])

df.head()

         X1        X2        X3        X4        X5        X6 X6_binned
0 -1.236951  0.781823 -1.320457  0.521942  0.296985  0.259883         C
1 -0.241236  0.243339  0.352055 -1.251539  1.443765 -0.045586         B
2  0.963376 -0.820682  0.412781  0.822060  1.896793  1.158596         D
3 -0.240325  0.712998 -0.374821  0.710960  0.444263 -1.222128         A
4 -0.024355 -0.573700  2.142270  1.727543  0.436324  0.522835         C

In [10]:
df_final = df.drop('X6', axis=1)
df_final.head()

         X1        X2        X3        X4        X5 X6_binned
0 -1.236951  0.781823 -1.320457  0.521942  0.296985         C
1 -0.241236  0.243339  0.352055 -1.251539  1.443765         B
2  0.963376 -0.820682  0.412781  0.822060  1.896793         D
3 -0.240325  0.712998 -0.374821  0.710960  0.444263         A
4 -0.024355 -0.573700  2.142270  1.727543  0.436324         C

In [11]:
df_final.to_csv('regression_data/6-features-1-categorical.csv', index=False)